@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/Lato/lato-v15-latin-700.eot');
    src: url('../Fonts/Lato/lato-v15-latin-regular.eot');
}

.statsContainer {
    margin: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hometasktitle {
    display: block;
    position: relative;
    top: 75px;
    left: -300px;
    transform: rotate(-90deg);
    font-size: 28px;
    font-weight: 700;
    font-family: 'Lato';
    text-transform: uppercase;
    color: #ced4da;
}

.statsSection {
    width: 268px;
    height: 130px;
    padding: 0;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.75);
    border-radius: 2%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.statlist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.item:nth-child(5n) {
    display: none;
}

.item {
    width: 25%;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Lato', regular;
    color: #fff;
    font-size: 12px;
}

.percentage {
    font-size: 18px;
}