@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../Fonts/Lato/lato-v15-latin-700.eot');
  src: url('../Fonts/Lato/lato-v15-latin-regular.eot');
}

ul {
  margin: 0;
  padding: 0;
}

.friensList {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hometasktitle {
  display: block;
  position: relative;
  top: 470px;
  left: -300px;
  transform: rotate(-90deg);
  font-size: 28px;
  font-weight: 700;
  font-family: 'Lato';
  text-transform: uppercase;
  color: #ced4da;
}

.friendsWrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.item {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin: 15px 5px;
  width: 360px;
  height: 120px;
  /* border: 1px solid red; */
  -webkit-box-shadow: 0px 6px 10px 1px rgba(168, 168, 168, 1);
  -moz-box-shadow: 0px 6px 10px 1px rgba(168, 168, 168, 1);
  box-shadow: 0px 6px 10px 1px rgba(168, 168, 168, 1);
}

.status {
  margin: 0px 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.name {
  margin: 0px 20px;
  font-size: 28px;
  font-family: 'Lato';
}

.greenCircle {
  content: '';
  width: 25px;
  height: 25px;
  background-color: lightgreen;
  border-radius: 50%;
  margin: 0 15px;
}

.redCircle {
  composes: greenCircle;
  background-color: lightcoral;
}
