@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../Fonts/Lato/lato-v15-latin-700.eot');
  src: url('../Fonts/Lato/lato-v15-latin-regular.eot');
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 100px;
}
td,
th {
  border: 1px solid #ecf1f4;
  padding: 3px 7px 2px 7px;
}
th {
  text-align: left;
  padding: 5px;
  height: 30px;
  background-color: #00bcd5;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

tr {
  text-align: center;
  height: 30px;
  text-transform: capitalize;
}

/* tr:nth-child(2n) {
  background-color: #ecf1f4;
} */

tr:hover {
  background-color: #ecf1f4;
}

.hometasktitle {
  display: block;
  position: relative;
  top: -375px;
  left: -500px;
  transform: rotate(-90deg);
  font-size: 28px;
  font-weight: 700;
  font-family: 'Lato';
  text-transform: uppercase;
  color: #ced4da;
}
